<?xml version="1.0"?>
<robot name="ele">
  <WeightSE3 rho_t="1.0" rho_r="1.0" />
  <link name="base">
    <visual>
      <geometry>
           <mesh filename="ele.iv" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>   
    <collision>
     <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
           <mesh filename="ele.iv" scale="1.0 1.0 1.0"/>
       </geometry>
    </collision>
  </link>
</robot>
