<?xml version='1.0' encoding='UTF-8'?>

<robot name="queenW">

    <link name="base">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/queenW.dae" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.03 0.03 0.08" />
            </geometry>
        </collision>
    </link>

</robot>
