<?xml version="1.0"?>
<robot name="yumi_body">
  
  <!--/////////////////////////////////////// BODY ///////////////////////////////////  -->

  <link name="body">
      <inertial>
        <mass value="15"/>
        <inertia ixx="0.5"  ixy="0"  ixz="0" iyy="0.6" iyz="0" izz="0.3" />
      </inertial>

      <visual>
        <geometry>
          <mesh filename="YuMi/body.stl"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="-0.225 0 0.1854"/>
        <geometry>
          <box size="0.27 0.26 0.571"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.102 0 -0.027" rpy="0 0.17 0"/>
        <geometry>
          <box size="0.46 0.4 0.207"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.148 0 0.378" rpy="0 -0.13 0"/>
        <geometry>
          <box size="0.3 0.26 0.17"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.019 0.041 0.395"/>
        <geometry>
          <sphere radius="0.0091"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.019 -0.041 0.395"/>
        <geometry>
          <sphere radius="0.0091"/>
        </geometry>
      </collision>
    </link>

</robot>
