<?xml version="1.0"?>
<robot name="prism2">
	<link name="base">
	<inertial>
        	 <origin xyz="0 0 0" rpy="0 0 0"/>
        	 <mass value="3"/>
        	 <inertia ixx="0.000683333"  ixy="0"  ixz="0" iyy="0.000683333" iyz="0" izz="0.000683333" />
       </inertial>
		<visual>
			<origin xyz="0 0 0.96" rpy="0 0 0" />
			<geometry>
        		<mesh filename="triangular_prism.wrl" scale="0.01"/>
      			</geometry>
		</visual>
	</link>
</robot>  
