<?xml version="1.0"?>
<robot name="flat_chessboard">
  <link name="base">
   <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
   	  <box size="0.70 0.65 0.0039" />
       </geometry>
   </visual>
   <visual>
     <!--origin xyz="0 0 0" rpy="0 0 1.570796327" /-->
     <origin xyz="0 0 0" rpy="0 0 1.570796327" />
       <geometry>
        <mesh filename="visual/flat_chessboard.dae" scale="11.88 8.4 0.08"/>
      </geometry>
   </visual>
   <collision>
     <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
           <box size="0.65 0.6 0.004" /> <!--made shorter so as not to collide with base!-->
       </geometry>
    </collision>
  </link>
</robot>
